// -- IMPORTS

@import 'senselogic-flow/src/element.styl';

// -- ELEMENTS

:root
{
    +media( medium )
    {
        font-family: serif;
    }
}

setRootFontSize( 1rem, 1.1rem 1.2rem 1.3rem 1.4rem, 90em 100em 110em 120em );
